/* ini stylesheet */

html {
    font-family: "DM Serif Text", serif;
}

body {
    background-color: #FEDEFF;
    margin: auto;
}

/* NAVBAR */

.name {
    color: #804674;
    text-shadow: 2px 3px 5px rgb(253, 253, 253);
    padding-left: 20px;
    font-size: smaller;
    font-style: italic;
    text-align: center;
}

.nav {
    background-color: #D9ACF5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    flex-wrap: wrap;
}

.navigation {
  overflow: hidden;
  padding-right: 15px;
}

.navigation a {
  color: #804674;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.navigation a:hover {
    color: #FEDEFF;
}

/* PAGE HOME */

.page-home {
    margin: 40px;
    padding-top: 70px;
    padding-left: 30px;
    padding-bottom: 170px;
}

/* PAGE ABOUT */

.my-photo {
    height: 250px;
    width: 230px;
    border-radius: 50%;
    box-shadow: 0 0 8px #5c5656;
    transition: transform 0.3s ease-in-out;
}

.my-photo:hover {
    transform: scale(1.2);
}

.photo {
    padding-left: 60px;
}

.page-about {
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    padding-bottom: 90px;
}

.page-about p {
    padding-left: 50px;
    padding-right: 60px;
    text-align: justify;
}

/* PAGE WORK */

.page-work {
    margin: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.work {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.project-1 {
    background-image: url(./assets/project-1.png);
    height: 150px;
    width: 250px;
    background-size: cover;
    border: 1px solid;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.project-1:hover {
    transform: scale(1.2);
}

.project-2 {
    background-image: url(./assets/project-2.png);
    height: 150px;
    width: 250px;
    background-size: cover;
    border: 1px solid;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.project-2:hover {
    transform: scale(1.2);
}

.github-1 {
    text-decoration: none;
    color: rgb(45, 89, 184);
}

.project-3 {
    background-color: rgba(0,0,0, 0.1);
    height: 150px;
    width: 250px;
    background-size: cover;
    border: 1px solid;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.project-3:hover {
    transform: scale(1.2);
}

.project-4 {
    background-color: rgba(0,0,0, 0.1);
    height: 150px;
    width: 250px;
    background-size: cover;
    border: 1px solid;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.project-4:hover {
    transform: scale(1.2);
}

.center {
    text-align: center;
    padding-top: 50px;
    text-shadow: 0 0 4px #776d6d;
}

.revou {
    height: 150px;
    width: 230px;
    border: 1px solid;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.revou:hover {
    transform: scale(1.2);
}

.certification  p {
    text-align: center;
}

/* PAGE CONTACT */

.page-contact {
    padding: 50px;
}

.my-social-media {
    text-align: center;
    font-size: 18px;
}

.sosmed {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
}

.sosmed a:link, .sosmed a:visited {
    background-color: #f9c6dd;
    color: #dd4b81;
    text-align: center;
    padding: 20px 15px;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
}
  
  .sosmed a:hover, .sosmed a:active {
    background-color: #FFD0D0;
    color: #d24747;
}

/* FOOTER */

footer {
    background-color: #D9ACF5;    
    font-size: 15px;
    width: 100%;
    padding: 1px;
    bottom: 0;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 15px;
    }

    nav {
        flex-direction: column;
    }

    .navigation a {
        padding: 5px;
        font-size: 14px;
    }

    .page-home {
        padding-left: 20px;
    }

    .page-about {
        flex-direction: column;
    }

    .photo {
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }

    .sosmed {
        padding: 15px 10  px;
        font-size: 13px;
    }

    footer {
        font-size: 12px;
    }
}
