/* ini stylesheet */

html {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #FEDEFF;
    margin: auto;
}

main {
    padding: 0 60px 0 60px;
}

/* NAVBAR */
.name {
    color: #804674;
    font-family: "DM Serif Display", serif;
    font-size: 13px;
    font-style: italic;
    text-shadow: 3px 3px 6px white;
    padding-left: 20px;
}

.nav {
    background-color: #D9ACF5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    flex-wrap: wrap;
    z-index: 999;
}

.navigation {
  overflow: hidden;
  padding-right: 15px;
}

.navigation a {
  color: #804674;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  transition: color 0.2s ease;
}

.navigation a:hover {
    color: #FEDEFF;
}

/* PAGE HOME */
.page-home {
    color: black;
    text-align: center;   
    padding-top: 150px;
}

.page-home h1 {
    font-size: 2em;
}

.page-home p {
    padding-top: 220px;
}

.page-home svg {
    padding-bottom: 70px;
    filter: drop-shadow(0 0 6px black);
}

/* PAGE ABOUT */
.page-about {
    padding-top: 80px;
    padding-bottom: 80px;
}

.page-about h1 {
    text-align: center;
}

.my-photo {
    height: 250px;
    width: 230px;
    border-radius: 50%;
    box-shadow: 0 0 8px #5c5656;
    transition: transform 0.3s ease-in-out;
}

.my-photo:hover {
    transform: scale(1.1);
}

.article-about {
    padding: 30px 10px 0 10px;
    display: flex;
    justify-content: space-around;
}

.article-about button {
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 8px white;
    background-color: #D9ACF5;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: box-shadow 0.3s ease;
}

.article-about a {
    color: white;
    padding: 10px 20px 10px 20px;
}

.article-about .btn:hover {
    box-shadow: 0 0 8px #E4BAD4;
}

.cv {
    padding: 15px 0 0 60px;
}

.cv a {
    text-decoration: none;
}

.about {
    padding-left: 50px;
    text-align: justify;
}

/* PAGE WORK */
.page-projects {
    padding: 80px 0 80px 0;
    text-align: center;
}

.article-project {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-1 {
    width: 40%;
    background-size: cover;
    border: 1px solid #D9ACF5;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.project-1:hover {
    transform: scale(1.1);
}

.project-2 {
    width: 40%;
    background-size: cover;
    border: 1px solid #D9ACF5;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.project-2:hover {
    transform: scale(1.1);
}

.github-1 {
    text-decoration: none;
    color: rgb(45, 89, 184);
}

.project-3 {
    background-color: rgba(0,0,0, 0.1);
    height: 110px;
    width: 250px;
    background-size: cover;
    border: 1px solid #D9ACF5;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.project-3:hover {
    transform: scale(1.1);
}

.project-4 {
    background-color: rgba(0,0,0, 0.1);
    height: 110px;
    width: 250px;
    background-size: cover;
    border: 1px solid #D9ACF5;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.project-4:hover {
    transform: scale(1.1);
}

.center {
    text-align: center;
    padding-top: 30px;
    text-shadow: 0 0 4px #776d6d;
}

/* PAGE SKILLS */
.page-skills {
    text-align: center;
    padding: 50px 20px;
}

.page-skills article {
    padding: 80px 0 40px 0;
    display: flex;
    justify-content: space-evenly;
}

.page-skills img {
    width: 30%;
}

/* CERTIFICATION */
.certification {
    text-align: center;
    padding: 40px 20px 60px 20px;
}

.certification .certif {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.certif img {
    width: 75%;
    border: 1px solid #D9ACF5;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.certif img:hover {
    transform: scale(1.2);
}

/* PAGE CONTACT */
.page-contact {
    text-align: center;
    padding: 50px 0 80px 0;
}

.page-contact h1 {
    padding-bottom: 70px;
}

.sosmed {
    padding-bottom: 30px;
}

.sosmed a {
    padding: 0 20px 0 20px;
    margin: 10px;
    text-decoration: none;
    transition: filter 0.3s ease;
}

.sosmed a:hover {
    opacity: 0.8;
    filter: drop-shadow(0 0 10px white);
}

.sosmed img {
    width: 3.5%;
    text-align: center;
    transition: filter 0.3s ease;
}

.thanks {
    color: #804674;
    text-align: center;
}

/* FOOTER */
footer {
    background-color: #D9ACF5;    
    font-size: 13px;
    width: 100%;
    padding: 1px;
    bottom: 0;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 15px;
    }

    nav {
        flex-direction: column;
    }

    .navigation a {
        padding: 5px;
        font-size: 14px;
    }

    .page-home {
        padding-left: 20px;
    }

    .article-about {
        flex-direction: column;
    }

    .photo {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    .cv {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    .about {
        justify-content: center;
        padding-left: 0px;
        text-align: justify;
    }

    .project-1 {
        width: 90%;
    }

    .project-2 {
        width: 90%;
    }

    .page-skills img {
        width: 60%;
    }

    .certification .certif {
        flex-wrap: wrap;
    }

    .certif div {
        padding-top: 10px;
    }

    .sosmed a {
        padding: 0 10px 0 10px;
    }    

    .sosmed a {
        margin: 10px;
    }

    .sosmed img {
        width: 8%;
    }

    footer {
        font-size: 12px;
    }
}
